@charset "UTF-8";
		  body, html{
        	height :100%;
        	margin:0;
        	padding:0;
        }
        /*location*/
        #first{
        	position: relative; 
        	width:100%;  
        	height:50px; 
			background:black;
		}			 
	    #first_view{
	    	position: relative; 
	    	width:1100px; 
	    	height:50px; 
	        margin: 0 auto;
	        line-height: 40px;
	        color:white; 
	        font-weight:bold; 
	        font-size:110%;
	    }
	    #first_view>a{
	    	color:white; 
	    	font-weight:bold; 
	    	font-size:110%;
	    	cursor:pointer;
	    }  
        
        /*로그인*/
        div{display: block;}
        
        .main_wrap{
        	width: 100%;
        }
        
        .webContainer{ 
        	max-width: 1184px; 
        	padding: 0 20px; 
        	margin: 0 auto;
        }
        .loginWrap>.webContainer{ 
        	padding:50px  20px 0;
        	background: url('/image/Mimage/bg_login.gif') no-repeat 100% 100%;
        }
        
        .intro{
        	font-size: 28px;
        }
        
        .main_login{
			 padding: 45px 0 70px;
			 overflow: hidden;
	   }
    	
        .login_form{
            float: left; 
            width: 45%; 
            padding: 25px 10 px 25px 20px; 
            border-top:0;
            border-left:0;
            border-bottom:0;
        }
        .main_login .login_form{
		    padding-right: 5%;
		    border-right: 1px solid #e5e5e5;
		}
        .login_form .cont{
        	padding: 10px 0 0 50px;
        }
        
        legend {
            position: absolute;
            left: -1000px;
            top: -1000px;
            height: 0;
            font-size: 0;
            line-height: 0;
            visibility: hidden;}
        
        .loginbox{
        	position: relative; 
        }
        .loginbox+ .loginbox{
        	margin-top: 12px;
        }
        
        .loginWrap .login_form .loginbox input{
            padding-left: 12px;
            font-size: 20px;
        }
        
        
        .loginbox input{
            width: 100%;
            padding: 0 25px 3px 5px;
        }
        .loginbox button{
            width: 30px;
            height: 63px;
            margin: 0;
        }
        .loginbox button, .loginbox input~*{
            position: absolute;
            right: 0;
            top: 0;
        }
        
        .line{ 
            display: inline-block;
            height: 66px;
            margin: 0;
            padding: 3px 50px 3px 4px;
            font-weight: 400;
            font-size: 1.375rem;
            font-family: "";
            color: #000;
            vertical-align: middle;
            background: repeat-x 0 100%;
            background-image:url('/image/Mimage/login_underline.png') ;
            border: none;
            border-radius: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        
        .txt_del{
            text-indent: -9999em;
            background: url('/image/Mimage/delete_txt.png') no-repeat 50%;
            background-size: 18px auto;
            
        }
        .btn_view{
            width: 40px;
            height: 40px;
            text-indent: -9999em;
            background: url('/image/Mimage/lookpassword.png') no-repeat 50%;
        }
        .btn_view.on { /*  */
		    background-image: url('/image/Mimage/lookpassword2.png');
		}
        button{    /* outline추가 */
            font: "";
            color: #000;
            vertical-align: middle;
            border: none;
            overflow: visible;
            cursor: pointer;
            color: lightgray;
            display: inline-block;
            text-align: center;
            box-sizing: border-box;
            border-width: 2px;
            border-image: initial;
            outline:none; 
        }
        
        .hide {
            position: absolute!important;
            left: -10000px;
            top: -10000px;
            visibility: hidden;
        }
        label{
        	cursor: default;
        } 
        label, label>span{
            vertical-align: middle;
        }
        
       .title_img img{
            vertical-align: middle;
        }
        
       .loginWrap .login_check{
            margin: 20px 0;
       }    
       .loginWrap .login_check label {
            margin-right: 20px;
           
        }
     
       input[type=checkbox]{  
            position: absolute;
		    margin: 0;
		    vertical-align: middle;
		    font-size: 1em;
		    border: none;
            border-radius: 0; 
            opacity: 0;
        }
     	input[type=checkbox]+:before{
        	content: "";
		    display: inline-block;
		    width: 25px;
		    height: 25px;
		    margin-right: 13px;
		    vertical-align: middle;
		}
        input[type=checkbox]+:before{ 
        	background: url('/image/Mimage/checkbox.png') no-repeat 0;
        }
        input[type=checkbox]:checked+:before { 
		    background-image: url('/image/Mimage/checkbox_black.png');
		}
        input[type=checkbox]:checked+* {
		    color: black;
		}
		
        .loginWrap .login_form .login_btn{
            margin: 30px 0;
            text-align: left;
        }    
        .login_btn{
            overflow: hidden;
        }
        .loginWrap .login_form .login_btn a{ 
            float: left;
            width: 210px;
        }
        .btn{
        	font-weight: 700;
		    color: #fff;
		    text-align: center;
        	/* padding: 12px 10px 10px;  */
        }
        .btn.m{
        	width: 210px;
		    height: 68px;
		    font-size: 1.5rem; 
		    line-height: 68px;  
		    background: url('/image/Mimage/bg_btn_m.png') no-repeat 50%;
		    border-radius: 0; 
		    border: 0;
        }

        .btn.m.red {
            background: url('/image/Mimage/bg_btn_m_red.png') no-repeat 0 0;
            background-size: 100% 100%;
            margin-right: 8px;
        }
        .btn.m.black{
            background: url('/image/Mimage/bg_btn_m.png') no-repeat 0 0;
            /* background-size: 100% 100%; */
        }
        .login_menu{
        	padding-top: 15px;
        	
        }
        .loginWrap .login_form .login_menu {
            overflow: hidden;
        }
        .loginWrap .login_form .login_menu>a {
            position: relative;
            float: left;
            padding: 5px 18px;
            font-size: 1.125em;
            font-size: 1.125rem;
        }
        .loginWrap .login_btn, .login_menu>span{  
        	display: table-cell;
			/* padding-left: 10px; */
			vertical-align: middle;
         }       
        .loginWrap .login_form .login_menu>a:first-child {
            padding-left: 0;
            border-right: 1px solid #e5e5e5;
        }
        
        ul{
        	 margin-top: 40px;
   			 font-size: small;
        }
        a {
            margin: 0;
            color: black;
            text-decoration: none;
            outline: none;
            border-right:1px;
            cursor: pointer;
        }
        
	    input:focus{
			outline: none;
		}
    
    /*간편로그인*/    
        .simple_form{
       /* border: 1px solid blue; */ 
            float: left; 
            width: 45%;
            padding:8px 0px 10px 25px;
        }
        
    .simple_form .list {
        max-width: 338px;
        margin: 15px 0 20px 46px;
    }
    .simple_form .list li:first-child {
    	background: none;
    }
    .simple_form .list li {
    	margin-bottom: 12px;
    }
    li {list-style: none; 
    	text-decoration:none;
    	}
    	
    .simple_form .list .naver a {
        position: relative;
        display: block;
        height: 64px;
        padding: 5px 5px 5px 70px;
        font-size: 1.25rem;
        color: hsla(0,0%,100%,.8);
        line-height: 65px;
        text-align: center;
        background: #1ec800 url('/image/Mimage/logo_naver.gif') no-repeat 21px;
        border-radius: 6px;
        -webkit-box-shadow: 0 2px 4px rgb(0 0 0 / 16%);
        box-shadow: 0 2px 4px rgb(0 0 0 / 16%);
    	}
    
    .simple_form .list .kakao a {
        position: relative;
        display: block;
        height: 64px;
        padding: 5px 5px 5px 70px;
        font-size: 1.25rem;
        color: #3c1e20;
        line-height: 65px;
        text-align: center;
        background: #ffeb00 url('/image/Mimage/logo_kakao.gif') no-repeat 21px;
        border-radius: 6px;
        -webkit-box-shadow: 0 2px 4px rgb(0 0 0 / 16%);
        box-shadow: 0 2px 4px rgb(0 0 0 / 16%);
        }
    
    .simple_form .list .apple a {
        position: relative;
        display: block;
        height: 64px;
        padding: 5px 5px 5px 70px;
        font-size: 1.25rem;
        color: #fff;
        text-align: center;
        line-height: 65px;
        background: #000 url('/image/Mimage/logo_apple.gif')  no-repeat 21px;
        border-radius: 6px;
        -webkit-box-shadow: 0 2px 4px rgb(0 0 0 / 16%);
        box-shadow: 0 2px 4px rgb(0 0 0 / 16%);
        }
        
        
        
    /* nonㅡmember */
        
    .no_member{
    	padding: 50px; 
    	color: black; 
    	font: 16px; 
    	background-color:#f2ebe6;
    	}   
    .web_Container{
        max-width: 1100px; /*  */
    	padding-left: 16px; 
    	padding-right: 16px; 
    	padding: 20px 0; 
    	margin:0 auto; 
    	color:black; 
        box-sizing: border-box; 
        background-color: #f2ebe6;
        }
    .tab1{
    	margin-bottom: 20px; 
    	overflow: auto; 
    	box-sizing: border-box; 
    	padding-left: 16px; 
    	padding-right: 16px;
    	}
    .item{
    margin: 0; padding: 0; float:left;}
    .bbutton{heigt: 54px; padding: 10px 0; display:inline-block; 
    				font-weight: 700; font-size: 1.37rem; }
    .tabCont{color: black;}
    .container02_order{ 
    	padding: 48px 0;
    	text-indent: 48px;
    	height: 175px;
    	line-height: 100%;
    	margin-top: 18px; 
    	position: relative; 
    	/* margin: 15px; */
        background: white;  
        box-sizing: border-box;  
        font-weight:border; 
        outline-color: gray; 
		box-shadow: 0px 1px 2px gray; 
		font-size:25px; 
		font-weight: bold;
	}
    .c_btn{margin: 40px 0 80px; text-align: cener; overflow: hidden; margin-bottom:  0;}
    .btn01{display: inline-block; width: 256px; height: 68px; font-size: 1.5rem; padding: 12px 10px 10px; font-weight: 700; color: #fff; text-align: center; line-height: 46px; background: url(./limage/button_background.png) no-repeat 50%; background-size: 100% 100%; border-radius: 0; margin-left: 500px;}
    .container01_order{position: relative; margin: 15px 0; padding: 20px 50px; font-size:1.357rem; background:white;margn-top:18px; display:table; width:100%;}
    
    /* 2/18 */
    .contractJoin {
        position: relative;
        width: 100%;
        height: 470px;
        font-size: 1.375rem;
        margin: 15px 0;
    }
    
    .loginbox2{
	    height: 66px;
	    float: left;
	    padding: 3px 30px 3px 0px;
	    margin-right: 0;
	    margin-left: 0;
	    font-weight: 400;
	    font-size: 1.375rem;
	    font-family: "";
	    color: #000;
	    vertical-align: middle;
	    box-sizing: border-box;
	}
	.loginbox2 label >span{
		    padding-right: 30px;
	
	}
	.loginbox2 button, .loginbox2 input~*{
	    position: relative;
	    right: 46px;
	    top: 0px;
	}
    .tab{
	    max-width: 1100px;
	    height:auto;
	    overflow:hidden;
	    margin: 0 auto;
	}
 
	.tab .click> ul{
	    padding:0;
	    margin:0;
	    list-style:none;
	    /*width:100%;*/
	    height:auto;
	    overflow:hidden;
	}
 
	.tab .click ul li{
	    display:inline-block;
	    font-size: x-large;
	    font-weight:bold;
	    float:left;
	    line-height:50px;
	    text-align:center;
	    margin-right: 30px;
	    cursor:pointer;
	}
 
	.tab .click ul li:hover,
	.tab .click ul li.on{
	    color: red;
	    font-weight: bold;
	    font-size: x-large;
	    border: 0 0 2px 0;
	    border-bottom: 2px solid red;
	}
	 
	.tab .contractJoin{
	    width:100%;
	    height:auto;
	    overflow:hidden;
	    min-height:200px;
	    background:#FFF;
	    display:none;
	}
	 
	.tab .contractJoin.on{
	    display:block;
	}
	 input:focus{ 
		outline: none;
	}
	 .verify{
	    position: relative;
		width: 100%;
        background: white;
	    }
   	.verify_btn{
        display: inline-block;
        position:static;
        display: flex;
        align-items: center;
   		background: #f2ebe6 url('/image/Mimage/button_background.png')no-repeat 50%;   
        width: 256px;
        height: 70px;
        line-height: 50px;
        font-size: 1.5rem;
        font-weight: 700;
        cursor:pointer;
        margin: 0 auto;
        padding: 0 70px;
        overflow: hidden;
        text-decoration: none;
        color: #fff;
        text-align: center;
        background-size: 100% 100%;
        border-radius: 0;
    	border: 0;
    }
    .p_verify{
        background: #f2ebe6;
	    padding: 70px 0 0;
    }    
   