@charset "UTF-8";
      body, html{
        height :100%;
        margin:0;
        padding:0;
     }  
    .main_wrap1{
        background: #f2ebe6;
        width: 100%;
        height:1300px; /* 전제화면 크기 수정 */
    }
        /*location*/
    #first{
        position: relative; 
        width:100%;  
        height:50px; 
        background:black;
    }				 
	#first_view{
        position: relative; 
	    width:1100px; 
	    height:50px; 
	    margin: 0 auto;
	    line-height: 40px;
	    color:white; 
	    font-weight:bold; 
	    font-size:110%;
    }
    #first_view>a{
	    color:white; 
	    font-weight:bold; 
	    font-size:110%;
	    cursor:pointer;
        text-decoration: none;
    }  
    .first .first_view> a{
    	text-decoration:none;
    }
    .contractWrap{
        background: #f2ebe6;
        max-width: 1184px;
        width: 1100px;
        padding: 0 20px;
        margin: 0 auto;
    }
    .contractWrap>.webContainer{
        background: #f2ebe6;
    }
    .webContainer{
        max-width: 1184px; 
        padding: 0 20px; 
        margin: 0 auto;
    }
    
    .join{
        font-weight: bold;
        padding: 13px 0;
    }
    .title_img{
        line-height: 50px;
    }
    .title_img img{
        vertical-align: middle;
        padding-right: 3px;
    	padding-bottom: 5px;
    /*margin: 45px 0 17px;
        font-weight: 700;
        font-size: 1.25rem;
        color: #2e2e2e;*/
    }
    
    .contractJoin {
        position: relative;
        width: 100%;
        height: 410px;
        background: white;
        font-size: 1.375rem;
    }
    .agreement{
        font-size: 1.375rem;
        margin: 0;
        height: 50px;
    }
    .box1{
         background: #f8f8f8;
        font-size: 1.375rem;
        height: 80px;
        line-height: 80px;
       padding: 7px 50px 0;
    }
    .box2{
        position: relative;
        margin: 20px auto;
    }
    .emailBox{
        position: relative;
        width: 35%;
        float: left;
        text-indent: 50px;
        height: 60px;
        line-height: 60px;
    }
    .emailBox2{
        width: 50%;
        float: left;
        margin: 7 auto 1;
        height: 60px;
        /*line-height: 60px;*/
    }
    .inputBox, inputBox2{
        vertical-align: top;
    }
    
    .contractJoin02{
        position: relative;
        height: 250px;
        margin: 5px 0 15px;
        padding: 15px 20px 50px;
        font-size: 1.37rem;
        background: #fff;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    }
    .box3{
        position: relative;
        background: #fff;
        font-size: 1.375rem;
        height: 5em;
        padding: 14px 15px 25px; /*  padding 수정 */
        vertical-align: top;
    }
    .hide{
        position: absolute ;
        left: -10000px;
        top: -10000px;
        visibility: hidden;
        font-weight: bold;
    }
    .box3 input{
        width: 100%;
        padding: 0 25px 3px 5px;
    }
    
    .verify{
        position: relative;
        width: 100%;
        margin-top: 40px;
        background: white;
    }
   	.verify_btn{
        display: inline-block;
        position:static;
        display: flex;
        align-items: center;
   		background: #f2ebe6 url('/image/Mimage/button_background.png')no-repeat 50%;   
        width: 256px;
        height: 70px;
        line-height: 50px;
        padding: 12px 10px 10px;
        font-size: 1.5rem;
        font-weight: 700;
        cursor:pointer;
        margin: 0 auto;
        padding: 0 80px;
        overflow: hidden;
        text-decoration: none;
        color: #fff;
        text-align: center;
        background-size: 100% 100%;
        border-radius: 0;
    	border: 0;
    }
    .p_verify{
        background: #f2ebe6;
	    margin-top: 40px;
	    padding: 30px 0 40px;
    }
    .box3 button{
        width: 30px;
    	height: 75px;
   		margin: 0;
    }
    .box4{
        position: relative;
        width: 35%;
        float: left;
        height: 60px;
       padding: 10px 0 10px 10px;
    }
    .box2> .emailBox2 button{
        position: absolute;
	    top: -2px;
	    right: 167px;
    }
    .emilBox button, .emailBox input~* {
    position: absolute;
    right: 0;
    top: 0;
}
    .box2 button{
        width: 30px;
    	height: 75px;
   		margin: 0;
    }
     .txt_del{
            text-indent: -9999em;
            background: url('/image/Mimage/delete_txt.png') no-repeat 50%;
            background-size: 18px auto;
            
        }
    .btn_view{
   		width: 40px;
      	height: 40px;
     	background: url('/image/Mimage/lookpassword.png') no-repeat 50%;   
     	text-indent: -9999em;
    }
    .btn_view.on { /*  */
		background-image: url('/image/Mimage/lookpassword2.png');
	}
     button{    /* outline추가 */
     	font: "";
        color: #000;
        vertical-align: middle;
        border: none;
        overflow: visible;
        cursor: pointer;
        color: lightgray;
        display: inline-block;
        text-align: center;
        box-sizing: border-box;
        border-width: 2px;
        border-image: initial;
        outline:none; 
        }
    .box3> .emailBox2 button{
        position: absolute;
	    top: -2px;
	    right: 167px;
    }
    .emailBox2 input{
        width: 100%;
        padding: 2px  25px 15px 5px;
    }
    .inputBox{ 
        display: inline-block;
        /*height: 66px;*/
        margin: 0;
        padding: 3px 10px 3px 4px;
        font-weight: 400;
        font-size: 1.375rem;
        font-family: "";
        color: #000;
        vertical-align: middle;
        background: url('/image/Mimage/login_underline.png') repeat-x 0 100%;
        border: none;
        border-radius: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 20px;
    }
    span{
        font-weight: bold;
    }
    .txt{
        margin: 3;
        font-size: 0.7em;
        color: red;
    }
    label, label>span{
        vertical-align: middle;
    }
    input:focus{ /* 2/17 */
		outline: none;
	}